<div class="col-md-12 contact-type-list-container">
    <div class="text-center">
        <button class="btn btn-info" (click)="add()">Add Contact type</button>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of contactTypes">
                <td class="hidden">{{type.Id}}</td>
                <td>{{type.Description}}</td>
                <td>
                    <button class="btn btn-warning" (click)="edit(type.Id)" style="margin-right: 20px;"> Edit</button>
                    <button class="btn btn-danger" (click)="delete(type.Id)"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
