<div class="col-md-6 reservation-list-container">
    <h2 style="margin: auto">Reservation List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="hidden">Id</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations">
            <td class="hidden">{{reservation.Id}}</td>
            <td>{{reservation.Title}}</td>
            <td>{{reservation.Description}}</td>
            <td>
                <button class="btn btn-success" (click)="delete(reservation.Id)"> Delete</button>
                <button class="btn btn-success" (click)="edit(reservation.Id)" style="margin-left: 20px;"> Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
