<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 image_header">
    <div class="image_header container">
      <div
              class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
              [ngClass]="{ show: isExpanded }">
      </div>
    </div>
  </nav>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-reservation']">Create reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-contact']">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-contact-type']">Contact Type</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
