<div class="col-md-12 add-reservation-container">
    <app-add-contact></app-add-contact>
</div>
<br>
<div class="col-md-12 add-reservation-container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <input type="text" formControlName="Title" placeholder="Title" name="Title" class="form-control" [ngClass]="{ 'is-invalid': submitted && fields.Title.errors }" id="Title" required>
        </div>

        <ckeditor [editor]="Editor" (ready)="onReady($event)" (change)="onChangeEditor($event)"></ckeditor>

        <br>
        <div class="text-right">
            <button class="btn btn-danger">Send</button>
        </div>
    </form>
</div>
