<div class="col-md-12 add-contact-container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">&#9786;</span>
        </div>
        <input type="text" formControlName="Name" placeholder="Name" name="Name" class="form-control" (keyup)="changeName($event)" [ngClass]="{ 'is-invalid': submitted && fields.Name.errors }" id="Name" required>        <div class="input-group-prepend">
            <span class="input-group-text" id="">◑</span>
        </div>
        <select class="form-control" [ngClass]="{ 'is-invalid': submitted && fields.ContactType.errors }" (change)="changeContactType($event)" formControlName="ContactType" required>
            <option value="" default disabled>Choose contact type</option>
            <option *ngFor="let type of contactTypes" [value]="type">{{type}}</option>
        </select>
        <div class="input-group-prepend">
            <span class="input-group-text" id="">&#9742;</span>
        </div>
        <input type="tel" formControlName="Phone" placeholder="Phone" name="Phone" class="form-control" id="Phone">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">📅</span>
        </div>
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && fields.Birthdate.errors }" type="date" placeholder="yyyy-mm-dd"
               name="Birthdate" formControlName="Birthdate" id="Birthdate" required>
        <button *ngIf="enableAddButton" class="btn btn-success">Add</button>
    </div>
    </form>
</div>